{% extends "base.html" %}

{% block content %}

  {% block user_info %}
    {% include "includes/user_info.html" %}
  {% endblock %}

  <section style="display: flex">
    <nav class="sidebar-normal" style="width: 250px">
      {% block sidebar %}
        {% include "includes/nav-sidebar.html" %}
      {% endblock %}
    </nav>
    <div class = "user_information">
      <h1>User information</h1>
      <p>Username: {{ user.username }}</p>
      <p>First name: {{ user.first_name }}</p>
      <p>Last name: {{ user.last_name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Position: {{ user.position.name }}</p>
      <p>Team: {{ user.team.name }}</p>
      <a href="{% url 'taskmanager:personal_info_update'%}">
        <button>Update personal information</button>
      </a>
      <a href={% url 'taskmanager:personal_info_delete' %}>
        <button>Delete user</button>
      </a>
    </div>

  </section>

{% endblock %}