{% extends "base.html" %}
{% block content %}

<h1>Task List</h1>
  <div class = "task-container">
      <table>
        <tr>
          <th>Task name:</th>
          <td>{{ task.name }}</td>
        </tr>
        <tr>
          <th>Task type:</th>
          <td>{{ task.task_type.name }}</td>
        </tr>
        <tr>
          <th>Description:</th>
          <td>{{ task.description }}</td>
        </tr>
        <tr>
          <th>Assigned to:</th>
          <td>
            {% for worker in task.assignees.all %}
              <p>{{ worker.username }} [{{ worker.team }}]</p>
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>Deadline:</th>
          <td>{{ task.deadline }}</td>
        </tr>
        <tr>
          <th>Status:</th>
          <td>{{ task.is_completed }}</td>
        </tr>
      </table>
  </div>
{% endblock %}