{% extends "base.html" %}
{% block content %}



<h1>Task List</h1>
  <div class = "task-container">
      {% for task in tasks %}
        <table>
            <tr>
              <th>Task name:</th>
              <td>{{ task.name }}</td>
            </tr>
            <tr>
              <th>Assigned to:</th>
              <td>
                {% for worker in task.assignees.all %}
                  <p>{{ worker.username }} [{{ worker.team }}]</p>
                {% endfor %}
              </td>
            </tr>
            <tr>
              <th>Task priority:</th>
              <td>{{ task.priority }}</td>
            </tr>
            <tr>
              <td>
                <a href = "{% url 'taskmanager:task_detail' pk=task.pk %}">Details</a>
                <p>Delete</p>
              </td>
            </tr>
        </table>
      {% endfor %}
  </div>
{% endblock %}