{% extends "base.html" %}
{% block content %}

{% block user_info %}
  {% include "includes/user_info.html" %}
{% endblock %}

{% block search_bar %}
  {% include "includes/search_bar.html" %}
{% endblock %}

<section style="display: flex">
    {% block sidebar %}
      {% include "includes/nav-sidebar.html" %}
      {% include "includes/details_sidebar.html" %}
    {% endblock %}


  <div>
    <div>
      <h1>Task List</h1>
    </div>
    <div class = "task-container">
        {% for task in tasks %}
          <table>
              <tr>
                <th>Task name:</th>
                <td>{{ task.name }}</td>
              </tr>
              <tr>
                <th>Assigned to:</th>
                <td>
                  {% for worker in task.assignees.all %}
                    <p>{{ worker.username }} [{{ worker.team }}]</p>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <th>Task priority:</th>
                <td>{{ task.priority }}</td>
              </tr>
              <tr>
                <td>
{#                  <a href = "{% url 'taskmanager:task_detail' pk=task.pk %}">Details</a>#}
{#                  <a href = "{% url 'taskmanager:task_update' pk=task.pk %}">Update</a>#}
{#                  <a href = "{% url 'taskmanager:task_delete' pk=task.pk %}">Delete</a>#}
                  <button class="open-sidebar-btn" data-task-id="{{ task.pk }}" onclick="getDetails(this)" >Get Task Details</button>
                </td>
              </tr>
          </table>
        {% endfor %}
    </div>
  </div>
</section>
{% endblock %}