<div class="sidebar" style = "display:flex; flex-direction:column">
  <a href = "{% url "taskmanager:create_task" %}">
    <button>Create task</button>
  </a>
  <a href = "{% url "taskmanager:task_list" %}">
    <button>All tasks</button>
  </a>
  <a href = "{% url "taskmanager:task_list" %}?assigned_to=me">
    <button>My tasks</button>
  </a>
  <a href = "{% url 'taskmanager:personal_info' %}">
    <button>Personal information</button>
  </a>
  <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
</div>

