<div class="sidebar" style = "display:flex; flex-direction:column">
  <button>
    <a href = "{% url "taskmanager:create_task" %}">Create task</a>
  </button>
  <button>
    <a href = "{% url "taskmanager:task_list" %}">All tasks</a>
  </button>
  <button>
    <a href = "{% url "taskmanager:task_list" %}?assigned_to=me">My tasks</a>
  </button>
  <button>
    <a href = "{% url 'taskmanager:personal_info' %}">Personal information</a>
  </button>
  <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>
</div>

